:root {
	/* CSS HEX */
	--charcoal: #264653;
	--persian-green: #2a9d8f;
	--orange-yellow-crayola: #e9c46a;
	--sandy-brown: #f4a261;
	--burnt-sienna: #e76f51;
	--white: #eff1f3;
	--black: #252323;
	--red: #e34f44;
}

html,
body {
	background-color: var(--white);
	padding: 0;
	margin: 0;
	font-family: Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
		Helvetica Neue, sans-serif;
	color: var(--black);
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
	color: var(--black);
}
